name: Docker build and push to AWS ECR

on:
  pull_request:
    types:
      - closed
    branches:
      - main
      - 'releases/**'
      - 'hotfix/**'
  release:
    types:
      - published

env:
  SERVICE_NAME: oneems-ocpp-service

jobs:
  docker:
    #must run sonarqube first
    if: github.event.pull_request.merged == true
    runs-on: self-hosted

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Get current time
        id: current_time
        run: echo "::set-output name=time::$(date -u +'%Y%m%d%H%M%S')"
        # run: echo "::set-output name=time::latest"

      - uses: actions/checkout@v4
        with:
          # Disabling shallow clones is recommended for improving the relevancy of reporting
          fetch-depth: 0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: ${{ secrets.AWS_REGION }}
          inline-session-policy: >-
            {
              "Version": "2012-10-17",
              "Statement": [
                {
                  "Sid": "AllowPush",
                  "Effect": "Allow",
                  "Action": [
                    "ecr:BatchCheckLayerAvailability",
                    "ecr:CompleteLayerUpload",
                    "ecr:InitiateLayerUpload",
                    "ecr:PutImage",
                    "ecr:UploadLayerPart"
                  ],
                  "Resource": "arn:aws:ecr:${{ secrets.AWS_REGION }}:${{ secrets.AWS_ACCOUNT_ID }}:repository/$SERVICE_NAME"
                }
              ]
            }

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
        with:
          registries: ${{ secrets.AWS_ACCOUNT_ID }}
          mask-password: "false"

      - name: Build, tag, and push image to Amazon ECR
        id: build-publish
        shell: bash
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}

        run: |
          docker build --no-cache --progress=plain -t "$ECR_REGISTRY/$SERVICE_NAME:${{ steps.current_time.outputs.time }}" .
          docker push "$ECR_REGISTRY/$SERVICE_NAME:${{ steps.current_time.outputs.time }}"
          echo "IMAGE ${{ steps.current_time.outputs.time }} is pushed to $ECR_REGISTRY/$SERVICE_NAME"
          echo "image_tag=${{ steps.current_time.outputs.time }}" 
          echo "full_image=$ECR_REGISTRY/$SERVICE_NAME:${{ steps.current_time.outputs.time }}"      

      # - name: Download dev ArgoCD repo
      #   uses: actions/checkout@v4
      #   with:
      #     repository: LITEON-OP-EI/oneems-argocd-deploy
      #     ssh-key: ${{ secrets.DEPLOY_PRIVATE_KEY_DEV }}
      #     path: oneems-argocd-deploy
      #     ref: main
          
      # - name: Create argo change on branch
      #   env:
      #     ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
      #   run: |
      #     cd oneems-argocd-deploy
      #     cd $SERVICE_NAME
      #     image_url=$(grep -oP '(?<=image: ).*' argocd/deployment.yaml)
      #     sed -i "s?$image_url?$ECR_REGISTRY/$SERVICE_NAME:${{ steps.current_time.outputs.time }}?" argocd/deployment.yaml
      #     git add .
      #     git commit -m "Deploy $SERVICE_NAME to ${{ steps.current_time.outputs.time }} from automation"
      #     git push origin main
      #     git tag -a $SERVICE_NAME-${{ steps.current_time.outputs.time }} -m "Deploy $SERVICE_NAME to ${{ steps.current_time.outputs.time }} from automation"
      #     git push origin $SERVICE_NAME-${{ steps.current_time.outputs.time }}